<h5 for="token" class="form-label">Token</h5>
<div class="input-group">
  <input id="token" class="form-control" type="password" [(ngModel)]="pat" [value]="pat" />
  <button class="btn btn-outline-primary" (click)="setNewToken()">Set Token</button>
</div>


<div class="m5">

  <h5 class="my-3">
    Tracked Repositories
  </h5>
  <div class="row my-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Repository Link" [(ngModel)]="repoLink" />
      <button class="btn btn-success" (click)="addRepo()">
        <i class="bi bi-plus-circle"></i>
        Add
      </button>
    </div>
  </div>
  <ul class="list-group" *ngFor="let repo of selectedRepos; let i = index">
    <li class="list-group-item">
      <a href="https://github.com/{{repo.owner}}/{{repo.name}}" target="_blank">{{repo.owner}}/{{repo.name}}</a>
      <button class="btn btn-outline-danger btn-delete" (click)="removeRepo(i)">
        <i class="bi bi-trash"></i>
        Remove
      </button>
    </li>
  </ul>
</div>
